body {
	background-color: #D14629;
	text-align: center;
	color: #EDE0D8;
}

#page {
	text-align: center;
	margin: 0 auto;
}

#header {

}

#main {

}

#footer {
	position: fixed;
	bottom: 0px;
	right: 15px;
}

.headerH1 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 5.5em;
	margin-bottom: -35px;
	padding: 0px;
	color: #262221;
}

.headerH2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.7em;
}

.button {
	height: 5em;
	width: 15em;
	border-radius: 10px;
	color: #D14629;
	background-color: #EDE0D8;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.button p {
	font-size: 2.5em;
	margin: 0;
}

#storyInput {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 8em;
	margin: 0px;
}

img {
	z-index: -1;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 17.5%;
}